

body {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12 pt;
}
a {
    text-decoration: none;
    color: white;
}
hr {
    background-color: red;
    height: 2px;
    margin-left: 0px;
    border: none;
}
#cim {
    margin-left: 50px;
    position: relative;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 0.9;
    font-size: 60pt;
}
#nagy_kep {
    background-image: url("images/borito.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 120px;
    background-color: purple;
}
#cim_alatti_vonal {
    background-color: red;
    height: 2px;
    width: 200px;
    margin-left: 0em;
}
.idezet {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
header .idezet {
    font-size: 25pt;
    line-height: 1.1;
    margin-bottom: 0.2em;
}
.kepala {
    font-size: 13px;
}
#bevezeto {
    max-width: 1050px;
    margin-top: -200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
    line-height: 1.4;
    padding: 50px;
}
section {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}
h2 {    
    font-weight: bold;
    font-size: 38pt;
}
h2 hr {
    width: 80px;
}
h4 {
    font-size: 20pt;
    margin: 0px;
}
section p {
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14.5pt;
    line-height: 1.6;
}
section hr {
    width: 80px;
}
.kiemeles {
    max-width: 684px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22px;
    border-left: 6px red;
    border-left-style: solid;
    font-weight: bold;
    font-size: 15pt;
    line-height: 1.5;
}
.kiemeles p {
    max-width: 684px;
}

.piros {
    background-color: red;
    max-width: 642px;
    padding: 34px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.piros p {
    font-size: 13pt;
    line-height: 1.5;
}
.nagyobb_betu {
    font-weight: bold;
    line-height: 1.2;
    font-size: 18pt;
    margin: 0px;
}
article div.hatter{
    background-image: url("images/minta.svg");
    background-repeat: repeat-x;
    background-size: 50px 55px;
    background-position: center top;
}
.fuggoleges {
    float: left;
    background-color: red;
    height: 100%;
}
td {
    vertical-align: top;
    padding-top: 5px;
    padding-right: 10px;
} 
nav {
    position: fixed;
    width: 100%;
    top: 0px;
    border-bottom: 2px solid red;
    height: 65px;
    background-color: #000000;
    background-image: linear-gradient(#383737, #000000, #202020);
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.9);
    padding: 0px;
    z-index: 50;
    }
#menu {
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
    height: 65px;
    margin-top: 0px;
}    
#menu ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    padding: 0px;
    margin-top: 0px;
    width: 800px;
}
#menu li {
    display: inline-block;
    padding: 24px 15px 24px 15px;
}
#menu ul li:hover {
    background-color: red;

}
#menu ul a {
    text-decoration: none;
    color: white;
}
#hamburger {
    width: 30px;
    height: 44px;
    margin: 15px 15px;
    float: right;
    display: none;
}
#hamburger div{
    background-color: white;
    height:3px;
    margin:3px;
    border-radius: 1.5px;
}
#logo_fejlecben {
    display: none;
    margin-left: 50px;
}
.nagy_kepkeret {
    width: 100%;
    position:relative; 
    height: 60px; 
    padding-top: 50%; 
    background-size: cover; 
    margin-bottom: 50px;
}
#kozosseg .nagy_kepkeret {
    padding-top: 35%;
}
#videoValasztas {
    overflow: auto;
    margin-left: -2%;
    margin-right: -2%;
}
.filmecskek {
    float: left;
    width: 21%;
    height: 200px;
    margin: 2%;
}
.filmecskek:hover {
    background-color: red;
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.keptarto {
    position: relative;
    margin-top: 55px;
    margin-bottom: 55px;
    font-size: 0;
}
.keptarto img {
    display: inline-block;
    margin: none;
    padding: none;
    border: none;
    font-size: 0px;
}
footer {
    font-size: 14px;
    line-height: 1.6;
}
#tartalma {
    padding: 40px 0px;
    margin: 50px;
}
#eltartas {
margin: 0 50px;
}
#szoveg {
float: left;
}
footer img {
    width: 218px;
}
}

@media screen and (max-width: 950px) {
    nav {
        right: 0px;
        height: 50px;
        width: 60px;
        background-color: red;
        display: inline-block;
        background-image: none;
    }
    #menu {
        margin-left: 0px;
        width: 100%;
        height: auto;
        position: relative;
        background-color: black;
        overflow: hidden;
        display: none;
        z-index: 50;
    }    
    #menu ul {
        list-style-type: none;
        margin: 0px;
        height: auto;
        padding: 0px;
        margin-top: 0px;
        width: 100%;
    }
    #menu ul li {
        display: block;
        font-size: 18pt;
        padding-left: 30px;
        border-bottom: 1px solid #383737;
    }
    #hamburger {
        display: inline-block;
    }
   
    

    
    
}
@media screen and (max-width: 650px){
    h1 {
        font-size: 11vw;
    }
    #logo_kepen {
        width: 45%;
    }
    #bevezeto {
        padding: 25px;
        font-size: 19px;
    }
    section {
        padding: 25px;
    }
    #cim {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 150px;
    }
    header .idezet {
        font-size: 22px;
    }
    section p {
        font-size: 15px;
        line-height: 1.6;
    }
    .kiemeles {
        padding-left: 10px;
        font-size: 17px;
    }
    h2 {    
        font-weight: bold;
        font-size: 8vw;
        padding-top: 5%;

    }
    .piros {
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 17px;
        margin: 0px;
    }
    .piros p {
        font-size: 13px;
        line-height: 1.5;
    }
    .piros span {
        width: 100%;
    }
    article div.hatter{
        background-size: 7%;
    }
    #eltartas {
        margin: 0 25px;
        }
    #szoveg {
        float: left;
        width: 100%;
        }
    footer img {
        width: 170px;
    }
}