/* általános */

body {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12 pt;
}
a {
    text-decoration: none;
    color: white;
}
hr {
    background-color: red;
    height: 2px;
    margin-left: 0px;
    border: none;
}

/* header */

#cim {
    margin-left: 50px;
    position: absolute;
    top: 160px;
}
#logo_kepen {  
    height:55px;
} 
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 0.9;
    font-size: 60pt;
    margin: 20px 0px;
}
#nagy_kep {
    background-image: url("images/borito.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 120px;
}
#cim_alatti_vonal {
    background-color: red;
    height: 2px;
    width: 200px;
    margin-left: 0em;
}
.idezet {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 20px 0px;
}
.kepala {
    font-size: 15px;
    margin-top: 10px;
}
#kiallitas_piros {
    width: 300px;
    position: relative;
    left: -65px;
    margin-top: 5%;
}
header .idezet {
    font-size: 25pt;
    line-height: 1.1;
    margin-bottom: 0.2em;
}
#bevezeto {
    max-width: 1050px;
    margin-top: -210px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
    line-height: 1.4;
    padding: 50px;
}

/* navigáció */

nav {
    position: fixed;
    width: 100%;
    top: 0px;
    border-bottom: 2px solid red;
    height: 65px;
    background-color: #000000;
    background-image: linear-gradient(#383737, #000000, #202020);
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.9);
    padding: 0px;
    z-index: 50;
    }
#menu {
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
    height: 65px;
    margin-top: 0px;
}    
#menu ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    padding: 0px;
    margin-top: 0px;
    width: 800px;
}
#menu li {
    display: inline-block;
    padding: 24px 15px 24px 15px;
}
#menu ul li:hover {
    background-color: red;

}
#menu ul a {
    text-decoration: none;
    color: white;
}
#hamburger {
    width: 30px;
    padding: 10px;
    display: none;
}
#hamburger div{
    background-color: white;
    height:3px;
    margin:3px;
    border-radius: 1.5px;
}
#logo_fejlecben {
    display: none;
    margin-left: 50px;
}
#hamburgerMenu {
    display: none;
}

/* article */

section {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}
h2 {    
    font-weight: bold;
    font-size: 38pt;
}
h2 hr {
    width: 80px;
}
h4 {
    font-size: 20pt;
    margin: 0px;
}
section p {
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14.5pt;
    line-height: 1.6;
}
section hr {
    width: 80px;
}
.kiemeles {
    max-width: 684px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22px;
    border-left: 6px red;
    border-left-style: solid;
    font-weight: bold;
    font-size: 15pt;
    line-height: 1.5;
}
.kiemeles p {
    max-width: 684px;
}

.piros {
    background-color: red;
    max-width: 642px;
    padding: 34px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.piros p {
    font-size: 13pt;
    line-height: 1.5;
}
.nagyobb_betu {
    font-weight: bold;
    line-height: 1.2;
    font-size: 18pt;
    margin: 0px;
}
article div.hatter{
    background-image: url("images/minta.svg");
    background-repeat: repeat-x;
    background-size: 50px 55px;
    background-position: center top;
}
.fuggoleges {
    float: left;
    background-color: red;
    height: 100%;
}


/* Elválasztó képek */

.nagy_kepkeret {
    width: 100%;
    position:relative; 
    height: 60px; 
    padding-top: 50%; 
    background-size: cover; 
}
.nagy_kepek_eltartas {
    width: 100%;
    position:relative; 
    overflow: auto;
    margin-bottom: 50px;
}
#kozosseg .nagy_kepkeret {
    padding-top: 33%;
}
.kepalairas {
    font-size: 14px;
    line-height: 1.5;
    padding-top: 12px;
}

/* Képek */

.keptarto {
    position: relative;
    margin-top: 55px;
    margin-bottom: 55px;
    font-size: 0;
    overflow: auto;
}
#haboru_1 {
    width: 60%; margin-right: 2%; margin-bottom: 2%;
}
#haboru_2 {
    width: 38%; margin-bottom: 2%;
}
#haboru_3 {
    width: 40%; margin-right: 2%; float: left;
}
#haboru_4 {
    width: 58%;
}
#festes {
    width: 37%; margin-right: 2%;
}
#apacak {
    width: 34.8%;margin-right: 2%;
}
#szerzetes {
    width: 24%;
}
#bazilika {
    float: right;
    width: 40%;
}
#ferenc {
    float: right;
    width: 35%;
    margin-right: 2%;
    margin-bottom: 2%;
}
#kozma {
    float: left;
    width: 56%;
    margin-right: 2%;
}
#nemetek {
    float: right;
    width: 42%;
}
#szivek {
    float: left;
    width: 58%;
}
#arviz {
    float: left;
    width: 55%;
    margin-right: 2%;
}
#bangladesh {
    float: left;
    width: 43%;
}
#segitseg_1 {
    float: left;
    width: 49%;
    margin-right: 2%;
}
#segitseg_2 {
    float: left;
    width: 49%;
}

/* Videós rész */

#videoValasztas {
    overflow: auto;
    margin-left: -2%;
    margin-right: -2%;
}
.filmecskek {
    float: left;
    width: 21%;
    margin: 2%;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}
.filmecskek:hover {
    background-color: red;
    box-shadow: 0px 0px 20px 5px #444444;
}
.filmecskek img {
   width: 100%;
}
.filmecskek p {
    margin: 5px 0px 8px 0px;
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Lábléc */

footer {
    font-size: 14px;
    line-height: 1.6;
}
#tartalma {
    padding: 40px 0px;
    margin: 50px;
}
#eltartas {
margin: 0 50px;
}
#logotarto {
    float:left;
    width: 30%;
}
#szoveg {
float:left;
width: 70%;
}
footer img {
    max-width: 218px;
    float: left;
    padding-top: 2%;
    margin-right: 15%;
    padding-bottom: 30px;
}
.piros_sav {
    height: 25px;
    background-color: red;
}

@media screen and (max-width: 950px) {

/* Navigáció */
    #menu {
        display: none;
    }   
    nav {
        right: 0px;
        height: 0;
        width: 100%;
        background-color: none;
        display: inline-block;
        background-image: none;
        border-bottom: none;
        box-shadow: none;
    }
    #hamburgerMenu {
        margin-left: 0px;
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        background-color: black;
        overflow: hidden;
        display: hide;
        z-index: 50;
        padding: 15px;
        border-bottom: 2px solid red;
    }    
    #hamburgerMenu ul {
        list-style-type: none;
        margin: 0px;
        height: auto;
        padding: 0px;
        margin-top: 0px;
        width: 100%;
    }
    #hamburgerMenu ul li {
        display: block;
        font-size: 18px;
        padding: 10px 0px 10px 30px ;

    }
    #hamburger {
        background-color: red;
        display: block;
        float: right;
        z-index: 80;
    }
    #logotarto {
    width: 100%;
    }
    #szoveg {
    width: 100%;
    }

    /* Header */

    #kiallitas_piros {
        margin-top: 2,5%;
    }

    #nagy_kep {
        width: 100%;
        padding-top: 40%;
        height: 200px;
    }
    #cim {
        margin-left: 50px;
        position: absolute;
        top: 60%;
    }
    #bevezeto {
        margin-top: 270px;
        padding: 50px;
        font-size: 18px;
        z-index: 5;

    }
}
@media screen and (max-width: 650px){

    /* Header */

    h1 {
        font-size: 13vw;
        margin: 4vw 0px;
    }
    #logo_kepen {
        width: 55%;
        height: auto;
    }
    #bevezeto {
        margin-top: 44%;
        padding: 25px;
        font-size: 17px;
        z-index: 5;

    }
    #cim {
        top: 57%;
        margin-left: 25px;
        margin-right: 25px;
    }
    .kepala {
        font-size: 3vw;
        margin-top: 2%;
    }

    #cim_alatti_vonal {
        width: 30%;
    }
    header .idezet {
        font-size: 5vw;
        margin-top: 4%;
    }
    #kiallitas_piros {
        width: 65%;
        left: -15%;
    }


    /* Article */

    section {
        padding: 25px;
    }
        section p {
        font-size: 15px;
        line-height: 1.6;
    }
    .kiemeles {
        padding-left: 10px;
        font-size: 17px;
    }
    h2 {    
        font-weight: bold;
        font-size: 8vw;
        padding-top: 5%;

    }
    .piros {
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 17px;
        margin: 0px;
    }
    .piros p {
        font-size: 13px;
        line-height: 1.5;
    }
    .piros span {
        width: 100%;
    }
    article div.hatter{
        background-size: 7%;
    }

    /* Elválasztó képek */

    .kepalairas {
        font-size: 12px;
        line-height: 1.5;
        padding-top: 8px;
    }

    /* Képek */

    .keptarto {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0;
    overflow: auto;
    padding: 10%;
    }
    .keptarto img {
        padding: 2%;
        }
    #haboru_1 {
            width: 96%; margin-right: 0%; margin-bottom: 0%;
        }
    #haboru_2 {
            width: 96%; margin-bottom: 0%;
        }
    #haboru_3 {
            width: 96%; margin-right: 0%; float: none;
        }
    #haboru_4 {
            width: 96%;
        }
    #festes {
    width: 96%; margin: 0%;
    }
    #apacak {
    width: 96%;margin-right: 0%;
    }
    #szerzetes {
    width: 96%;
    }
    #bazilika {
        float: none;
        width: 96%;
    }
    #ferenc {
        float: none;
        width: 96%;
        margin-right: 0%;
        margin-bottom: 0%;
    }
    #kozma {
        float: none;
        width: 96%;
        margin-right: 0%;
    }
    #nemetek {
        float: none;
        width: 96%;
    }
    #szivek {
        float: none;
        width: 96%;
    }
    #arviz {
        float: none;
        width: 96%;
        margin-right: 0%;
    }
    #bangladesh {
        float: none;
        width: 96%;
    }
    #segitseg_1 {
        float: none;
        width: 96%;
        margin-right: 0%;
    }
    #segitseg_2 {
        float: none;
        width: 96%;
    }

    /* Videók */
   
    .filmecskek {
        width: 46%;
        margin: 2%;
        font-size: 14pt;
    }

    /* Footer */

    #eltartas {
        margin: 0 25px;
        }
    #szoveg {
        float: left;
        width: 100%;
        }
    footer img {
        width: 170px;
    }
 
}